.favorite-card__grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.favorite-card {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border-radius: 32px;
    width: 11rem;
    height: 11rem;
    font-weight: bold;
  }

  .favorite-card__fruit {
    background: #fff2f0F0;
  }

  .favorite-card__vegetable {
    background: #EFF7EE;
  }

  .favorite-card__snack {
    background: #FFF8EB;
  }