@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Signika", sans-serif;

  /* BACKGROUND COLORS */
  --color-primary: #91c768;
  --color-primary-light: #EFF7EE;
  --color-secondary: #FF8473;
  --color-secondary-light: #FFF8EB;
  --color-tertiary: #C6C4DE;
  --color-background-main: #E5E5E5;
  --color-search-box: #F4F4F4;

  /* TEXT COLORS */
  --color-text-primary: #0000;
  --color-text-secondary: #A9A9A9;

  /* BUTTON */
  --border-radius-circle: 50%;
  --border-radius-small: 1rem;
  --border-radius-medium: 1.5rem;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
}
